.line {
    width: 100%;
    height: 120px; 
    background-color: #FAC898; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
  }
  .pf_box {
    width: 500px; 
    height: 700px; 
    background-color: rgb(211, 225, 230); 
    border-radius: 15%; 
    display: inline-block; 
    margin-top: 20px;
    margin-left: 150px;
}
.cm_box {
    width: 900px; 
    height: 700px; 
    background-color: rgb(211, 225, 230); 
    border-radius: 10%; 
    display: inline-block;
    margin-top: 160px;
    margin-left: 240px;
}

.logout-button {
    display: inline-block;
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #cc0000;
}

  
  